body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #ffffff;
}

#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  z-index: 1;
}

#scoreboard {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 2;
}

#gameOverScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  z-index: 3;
}

#nameInputScreen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  color: white;
}

#nameInputScreen input {
  padding: 10px;
  font-size: 16px;
}

#nameInputScreen button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: white;
  width: auto;
  z-index: 10;
}